
body{
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.nav-list{
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0px;
  align-items: center;
}

.nav-items{
  gap: 600px;
}

.front{
  height: 70px;
  width: 175px;
}

.nav-links{
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding-left: 15px;
}

.nav-links:hover{
  color: var(--logo-blue);
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px; 
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background: black;
}

.intro-container{
  display: flex;
    justify-content: center;
    gap: 50px;
}
.intro-container-2{
  display: flex;
  justify-content: center;
  gap: 400px;
}

.intro-container-3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.intro-box{
  display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
}
.intro-box-1{
  display: flex;
    flex-direction: column;
    justify-content: center;
}

.buy-button:hover{
  font-size: 20px;
}

.empower{
  display: inline-block;
  font-size: 40px;
  margin-top: 25px;
}

.empower h6{
  color: gray;
}

.empower h6, .empower h3{
  margin: 0px;
}

.empower-flex{
  display: flex;
  align-items: center;
  width: 400px;
}

.empower-flex h6{
  font-size: 15px;
  margin-left: 30px; 
  color: var(--logo-blue);
  font-weight: 600;
}

.play-img{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.google .small-circle{
  margin-bottom: 40px;
}

.google-img{
  height: 50px; 
  width: 50px;
  padding-left: 13px;
  padding-top: 12px;
}

.atlas .large-circle{
  margin-right: 130px;
}

.atlas-img{
  height: 50px; 
  width: 50px;
  padding-left: 21px;
  padding-top: 15px;
}

.asana .large-circle{
  margin-right: -20px; 
}

.asana-img{
  height: 50px; 
  width: 50px;
  padding-left: 21px;
  padding-top: 16px;
}

.paypal .large-circle{
  margin-bottom: 100px;
}

.paypal-img{
  height: 50px; 
  width: 50px;
  padding-left: 21px;
  padding-top: 16px;
}

.drive .small-circle{
  margin-top: 270px;
}

.drive-img{
  height: 50px;
  width: 55px;
  padding-left: 10px;
  padding-top: 10px;
}

.weave .large-circle{
  margin-bottom: 70px; 
}

.weave-img{
  height: 50px;
  width: 55px;
  padding-left: 18px;
  padding-top: 18px;
}

.calendar .large-circle{
  margin-top: 240px;
}

.calendar-img{
  height: 50px;
  width: 55px;
  padding-left: 18px;
  padding-top: 18px;
}



/* Key Benefit Cards */

.card{
  padding: 25px;
}

.img-container{
  margin-bottom: 35px;
}

.title-container{
  margin-bottom: 35px;
}

.learn-container{
  margin-top: 35px;
}

.left-side h4{
  font-size: 35px;
}

.right-side img{
  max-width: auto;
}


.bullet-container{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  gap: 200px; 
}

.bullet-container-2{
  display: flex;
  justify-content: center;
  gap: 145px;
  margin-top: 100px;
}

.grey-container{
  position: relative;
}

.grey-bullet{
  border-radius: 50%;  
  background: #ECF2FF;
  height: 70px;
  width: 70px;
}


.blue-container{
  display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 30px;
}

.blue-bullet{
  border-radius: 50%; 
  background-color: var(--logo-blue);
  height: 10px;
  width: 10px;
}

.software-container{
  justify-content: center;
  display: flex;
}

.software-dev-img{
  background-image: url(./banners/banner_two.jpg); 
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1400px;
}

.software-play{
  display: flex;
  justify-content: center;
  padding-top: 275px;
}

.play-icon{
  display: flex;
    justify-content: center;
    padding: 23px;
}

.woman-container{
  position: relative; 
}

.woman-img{
  position: absolute;
  height: 450px;
  margin-top: 100px;
  margin-left: 48px;
  width: 450px; 
}

.woman-dots{
  height: 400px;
  margin-top: 226px; 
}

.hub-spot-img{
  height: 45px;
  margin-top: 150px;
}


.filler-text h2{
  margin-top: 80px; 

}

.signatures{
  margin-top: 50px; 
}

.signatures h2{
  margin-bottom: 0px;
}

.signatures h4{
  margin-top: 5px;
  color: grey; 
}

.logo-titles{
   text-transform: uppercase;
   margin-top: 100px; 
   color: grey;
}

.logo-container{
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 120px;
  margin-top: 60px; 
}
.logos{
  width: 150px; 
}

.breakdown-info{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.breakdown-info-2{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 300px;

}

.promo-side{
  height: 500px; 
  width: 420px; 
  border-style: transparent; 
  color: black; 
  box-shadow: 0px 2px 15px -4px black;
  border-radius: 5px; 
}

.inside-container{
  padding: 60px; 
}

.monthly-price{
  display: flex;
}

.monthly-price h5{
  font-size: 50px;
  margin: 0px;
}

.monthly-price h3{
  color: grey;
  margin-left: 10px;
}

.divider{
  margin-top: 45px;
}

.promo-fill{
  margin-top: 45px;
}

.promo-button{
  margin-top: 25px;
}

.credit-card h6{
  margin-top: 10px;
  margin-left: 3px;
  font-size: 13px;
  color: grey;
}

.explanation-side{
  display: flex;
}

.promo-card{
  width: 300px; 
  margin-bottom: 40px; 
}

.promo-img{
  height: 50px;
  width: 50px; 
}

.promo-title{
  display: flex;
}

.row-container{
  margin-left: 130px; 
  row-gap: 50px;
}

.hire-us{
  color: white;
}

.hire-info{
  font-size: 50px;
}

.goal-text-top{
  font-size: 20px;
}

.goal-text-bottom{
  color: white; 
  margin-top: 40px;
}

.hire-divider{
  width: 200px;
}


.hire-us .signatures h2,
.hire-us .signatures h4 {
  color: white; 
}

.hire-us .signatures h4 {
  color: grey;
}

.profile-img-container{
  display: flex;
  align-content: center;
  align-items: center;
}

.profile-img, .profile-img-1{
  border-radius: 50%; 
}

.profile-img{
  width: 50px; 
  margin-right: 30px;
}

.profile-img-1{
  width: 70px; 
}

.form{
  padding: 50px;
}

.form .filler-text{
  display: flex;
  align-content: center;
  justify-content: center;
  color: black;
  margin-bottom: 20px;
  
}

.checkbox{
  display: flex;
  align-items: center;
}

.box{
  border-radius: 8px;
  border-style: solid;
  border: 1px solid #E6E8F2;
  height: 45px; 
  width: 35px; 
  margin-right: 20px;
  margin-left: 15px; 
}

.privacy-policy-container{
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 20px;
}

.policy:hover{
  margin: 0px;
  color: var(--logo-blue); 
  
}

.get-started-container{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.front-img{
  width: 120px; 
  height:100px;
  margin-top: -5px;
}

.address-phone-container{
  display: flex;
  
}

.contact-icon{
  margin-right: 10px; 
}

.left-container{
  display: flex;
  gap: 100px;
  justify-content: center;
}

.title-info{
  font-size: 25px;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 35px; 
}

.menu-item{
  margin-bottom: 30px;
  font-size: 20px;
  color: grey;
}
.menu-item-2{
  margin-bottom: 30px;
  font-size: 20px;
  color: grey;
  display: flex;
  align-items: center;
}

.hiring-text{
  font-size: 10px;
}

.menu-item:hover, .menu-item-2:hover{
  color: var(--logo-blue);
}

.left-icons{
  margin-left: 15px; 
}

.privacy-terms-container{
  display: flex;
  justify-content: space-evenly;
}

.privacy-terms, .icon-terms{
  display: flex;
  
}

.privacy-item:hover{
  color: var(--logo-blue);
}

.privacy-item, .privacy-item-1{ 
  margin-right: 15px;
  font-size: 20px;
  color: gray;
}

.social-items{
  margin-right: 25px;
}

.usa-container{
  display: flex;
  border-radius: 8px;
  background-color: #ECF2FF;
  justify-content: space-evenly;
  align-items: center;
}

.social-items-1{
  width: 200px;
}

.usa-icon{
  width: 25px;
  height: 25px;
}

.usa-text{
  margin: 0px;
  font-size: 15px;
}

.carrot{
  height: 10px;
}

.fine-print{
  text-align: center;
  margin-top: 80px;
  color: gray;
  font-size: 20px;
}

.copyright{
  margin-bottom: 30px; 
}

.copyright-1{
  line-height: 35px;
}












